In [27]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [28]:
data = "gdrive/MyDrive/Home_Credit_TEST/bureau_weighting.csv"
dataf = pd.read_csv(data)
dataf

,Unnamed: 0,SK_ID_CURR,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late
0,0,215354,0,0,0.0,0.0,0.000000,0
1,1,215354,1,0,0.0,0.0,0.000000,0
2,2,215354,1,0,0.0,0.0,0.000000,0
3,3,215354,1,0,0.0,0.0,0.000000,0
4,4,215354,0,0,0.0,0.0,0.000335,0
...,...,...,...,...,...,...,...,...
1716423,1716423,259355,1,0,0.0,0.0,0.000000,0
1716424,1716424,100044,0,0,0.0,0.0,0.000024,0
1716425,1716425,100044,0,0,0.0,0.0,0.000000,0
1716426,1716426,246829,0,0,0.0,0.0,0.000000,0
1716427,1716427,246829,0,0,0.0,0.0,0.000000,0

In [29]:
dataf = dataf.drop(columns=['Unnamed: 0'])
dataf

,SK_ID_CURR,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late
0,215354,0,0,0.0,0.0,0.000000,0
1,215354,1,0,0.0,0.0,0.000000,0
2,215354,1,0,0.0,0.0,0.000000,0
3,215354,1,0,0.0,0.0,0.000000,0
4,215354,0,0,0.0,0.0,0.000335,0
...,...,...,...,...,...,...,...
1716423,259355,1,0,0.0,0.0,0.000000,0
1716424,100044,0,0,0.0,0.0,0.000024,0
1716425,100044,0,0,0.0,0.0,0.000000,0
1716426,246829,0,0,0.0,0.0,0.000000,0
1716427,246829,0,0,0.0,0.0,0.000000,0

In [30]:
dataf['bureau_simple'] = ((dataf['coef_DAY_OVERDUE'] + dataf['coef_SUM_OVERDUE'] + dataf['bad_and_late']) > 0 )*1
dataf

,SK_ID_CURR,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late,bureau_simple
0,215354,0,0,0.0,0.0,0.000000,0,0
1,215354,1,0,0.0,0.0,0.000000,0,0
2,215354,1,0,0.0,0.0,0.000000,0,0
3,215354,1,0,0.0,0.0,0.000000,0,0
4,215354,0,0,0.0,0.0,0.000335,0,0
...,...,...,...,...,...,...,...,...
1716423,259355,1,0,0.0,0.0,0.000000,0,0
1716424,100044,0,0,0.0,0.0,0.000024,0,0
1716425,100044,0,0,0.0,0.0,0.000000,0,0
1716426,246829,0,0,0.0,0.0,0.000000,0,0
1716427,246829,0,0,0.0,0.0,0.000000,0,0

In [34]:
score = (dataf['coef_DAY_OVERDUE'] + dataf['coef_SUM_OVERDUE'] + dataf['bureau_simple']) * (1 + dataf['in_one_year']) + dataf['coefadding_mix']
print(np.max(score))
print(np.mean(score))

2.598137535816619
0.004079759370192508

In [35]:
dataf['bureau_score'] = np.ceil(score*6/np.max(score))
dataf

,SK_ID_CURR,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late,bureau_simple,bureau_score
0,215354,0,0,0.0,0.0,0.000000,0,0,0.0
1,215354,1,0,0.0,0.0,0.000000,0,0,0.0
2,215354,1,0,0.0,0.0,0.000000,0,0,0.0
3,215354,1,0,0.0,0.0,0.000000,0,0,0.0
4,215354,0,0,0.0,0.0,0.000335,0,0,1.0
...,...,...,...,...,...,...,...,...,...
1716423,259355,1,0,0.0,0.0,0.000000,0,0,0.0
1716424,100044,0,0,0.0,0.0,0.000024,0,0,1.0
1716425,100044,0,0,0.0,0.0,0.000000,0,0,0.0
1716426,246829,0,0,0.0,0.0,0.000000,0,0,0.0
1716427,246829,0,0,0.0,0.0,0.000000,0,0,0.0

In [37]:
print(np.max(dataf['bureau_score']))
print(np.mean(dataf['bureau_score']))

6.0
0.08319078924370844

In [38]:
dataf2 = dataf.groupby('SK_ID_CURR',as_index = False).aggregate({'bad_and_late':'count',
                                  'bureau_simple':'sum',
                                  'bureau_score':'sum'})
dataf2

        SK_ID_CURR  bad_and_late  bureau_simple  bureau_score
0           100001             7              0           0.0
1           100002             8              0           3.0
2           100003             4              0           0.0
3           100004             2              0           0.0
4           100005             3              0           0.0
...            ...           ...            ...           ...
305806      456249            13              0           2.0
305807      456250             3              0           0.0
305808      456253             4              0           0.0
305809      456254             1              0           0.0
305810      456255            11              0           4.0

[305811 rows x 4 columns]

In [ ]:
np.max(dataf2['bureau_simple'])

8

In [39]:
dataf2.columns = ['SK_ID_CURR','bureau_count','bureau_Late_count','bureau_score']
dataf2

        SK_ID_CURR  bureau_count  bureau_Late_count  bureau_score
0           100001             7                  0           0.0
1           100002             8                  0           3.0
2           100003             4                  0           0.0
3           100004             2                  0           0.0
4           100005             3                  0           0.0
...            ...           ...                ...           ...
305806      456249            13                  0           2.0
305807      456250             3                  0           0.0
305808      456253             4                  0           0.0
305809      456254             1                  0           0.0
305810      456255            11                  0           4.0

[305811 rows x 4 columns]

In [40]:
data="gdrive/MyDrive/bureau_label.csv"
dataf2.to_csv(data,index = False)